     .black_overlay{
            display: none;
            position: fixed;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index:1001;
            -moz-opacity: 0.6;
            opacity:.60;
            filter: alpha(opacity=88);

        }

        .white_content_profile {
            display: none;
            position: fixed;
            top: 20%;
            left: 32%;
            width: 488px;
            height: 268px;
            padding: 20px;
            box-shadow: 0 8px 16px 0 rgba(7,17,27,0.2);
            border-radius: 12px;
            background-color: white;
            z-index:1002;
            overflow: auto;
        }


        .white_content {
            display: none;
            position: fixed;
            top: 20%;
            left: 25%;
            width: 488px;
            height: 468px;
            padding: 20px;
            box-shadow: 0 8px 16px 0 rgba(7,17,27,0.2);
            border-radius: 12px;
            background-color: white;
            z-index:1002;
            overflow: auto;
        }

        .update-review{
            color:green;
            font-size:13px;
            left: 40px;
        }

        form{
            padding-top: 20px
        }