{% extends 'user_base.html' %}

{% block title %}
User Profile - Fancy Trip Planner
{% endblock %}

{% block tab %}
     <b>Profile</b>
     <a href="/user/reviews/?review_user_id={{ profile_user_id }}">Reviews</a>
{% endblock%}

{% block right_head %}
     {% ifequal user_id profile_user_id %}
     <div class="nums"><span class="nums_text">You can update your profile here.</span></div>
     {% endifequal %}
{% endblock %}

<!--  load tag -->
{% load index %}
{% block content_left %}
<script type="text/javascript">
    var review
    var attractionName
    $(function(){
    })
    function openDialog(input1){
        document.getElementById('light').style.display='block';
        document.getElementById('fade').style.display='block'

    }
    function closeDialog(){
        document.getElementById('light').style.display='none';
        document.getElementById('fade').style.display='none'

    }

</script>
<div class="formBox">
    <div id="setting-profile" class="setting-wrap setting-profile">
        <div class="common-title">
            User Profile
            {% ifequal user_id profile_user_id %}
            <a href="javascript: void(0);" class="pull-right js-edit-info" onclick = "openDialog()">Update</a>
            {% endifequal %}
            
        </div>
        <div class="line"></div>
        <div class="info-wapper">
            <div class="info-box clearfix">
                <label class="pull-left">Username</label><div class="pull-left">{{ profile_user_name }}</div>
            </div>
            <div class="info-box clearfix">
                <label class="pull-left">Email</label><div class="pull-left">{{ email }}</div>
            </div>
            <div class="info-box clearfix">
                <label class="pull-left">Join Date</label>
                <div class="pull-left">
                {% if join_date %}
                {{ join_date }}
                {% else %}
                N/A
                {% endif %}
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block hover_window %}
<div id="light" class="white_content_profile">
    <span class="moco-modal-title">Update Profile</span>
    <form class="js-wapper-form" action="{% url 'user_profile' %}" method='POST'>
        <input type='hidden' id='url' name='url' value={{ request.get_full_path }}>
        <input type='hidden' id='user_id' name='user_id' value={{ user_id }}>
        <div class="moco-form-group wlfg-wrap">
            <label for="" class="moco-control-label">Username</label>
            <div class="moco-control-input">
                 <div class="pr">
                    <input name="username" id="username" class="moco-form-control" value={{ username }}>
                    <div class="rlf-tip-wrap errorHint color-red"></div>
                </div>
            </div>
        </div>
        <div class="moco-form-group wlfg-wrap">
                <label for="" class="moco-control-label">Email</label>
                <div class="moco-control-input">
                     <div class="pr">
                        <input name="email" id="email" class="moco-form-control" value={{ email }}>
                        <div class="rlf-tip-wrap errorHint color-red"></div>
                    </div>
                </div>
        </div>

      <div class="wlfg-wrap clearfix">
          <label class="moco-control-label" for=""></label>
          <div class="moco-control-input">
              <br/>
              <input type="submit" id="profile-submit" class="moco-btn moco-btn-blue marR10" onclick = "closeDialog()">
              &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;
              <a href="javascript:void(0);" class="moco-btn moco-btn-normal js-modal-close" onclick = "closeDialog()">Cancel</a>
              <p class="js-gerror g_error"></p>
          </div>
      </div>
    </form>
</div>

<div id="fade" class="black_overlay"></div>
</div>

{% endblock %}