{% extends 'user_base.html' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/userReview.css" />
{% endblock %}


{% block title %}
User Reviews - Fancy Trip Planner
{% endblock %}

{% block tab %}
    <a href="/user/profile/?profile_user_id={{ user_id }}">Profile</a>
    <b>Reviews</b>
{% endblock%}

{% block searchbar %}
    <!-- <form id="form" name="f" action="/s/" class="fm">
        <span class="bg s_ipt_wr">
          <input id="kw" name="wd" class="s_ipt" value="{{ wd }}" maxlength="255" autocomplete="off" placeholder="{{ wd }}">
            <input hidden name="radio" value="{{ tag }}">
        </span>
        <span class="bg s_btn_wr">
          <input type="submit" id="su" value="Search" class="bg s_btn"></span>
        </span>
    </form> -->
{% endblock %}

<!--  load tag -->
{% load index %}
{% block content_left %}
    {% for review in reviews %}
        <script type="text/javascript">
        var review
        var attractionName
        $(function(){
        })
        function openDialog(input1, input2){
            review = input1;
            attractionName = input2
            document.getElementById('light').style.display='block';
            document.getElementById('fade').style.display='block'
            document.getElementById("attractionName").value=attractionName;
            document.getElementById("review_id").value=review.review_id;
            document.getElementById("review").value=review.review;

            var select = document.getElementById('rating');
            select.value = review.rating
        }

        function closeDialog(){
            document.getElementById('light').style.display='none';
            document.getElementById('fade').style.display='none'
        }

        function closeDialogDelete(user_id){
            // console.log(user_id)
            // console.log(review_id.value)
            $.ajax({
            type: "POST",
            url: '/user/reviews/',
            data: {'method': 'delete', 'user_id': user_id, 'review_id': review_id.value},
            success : function (Response) {
                // console.log(Response.msg=='failed')
                if (Response.msg=='failed') {
                    alert('Delete Operation Error')
                }
                else {
                    location.reload();
                }
            },
            error: function (){
                alert("Delete Operation Error");
            }
            })
        }
        </script>

        <div class="result c-container ">
          <h3 class="t"><a href="/attraction/?id={{ attractions|index_id:forloop.counter0 }}">{{ attractions|index_name:forloop.counter0 }}</a></h3>
          <div class="c-abstract">{{ review.review }}</div>
          <div class="f13">
            <label class="c-showurl" >Rating: {{review.rating}} </label>
            {% ifequal user_id profile_user_id %}
           <a href='JavaScript:void(0)' class="update-review" onclick = "openDialog({{review|get_info}}, {{attractions|name_to_list:forloop.counter0}})">update</a>
            {% endifequal %}
   {% endfor %}
{% endblock %}

{% block hover_window %}
<div id="light" class="white_content">
    <span class="moco-modal-title">Update Review</span>
    <form class="js-wapper-form" action="{% url 'user_reviews' %}" method='POST'>
        <input type='hidden' id='url' name='url' value={{ request.get_full_path }}>
        <input type="hidden" id='review_id' name='review_id'>
        <input type='hidden' id='user_id' name='user_id' value={{ user_id }}>
        <div class="moco-form-group">
            <label for="" class="moco-control-label">Attraction：</label>
            <div class="moco-control-input">
                <input type="text" name="attraction_name" id="attractionName" autocomplete="off" data-validate="require-nick" class="moco-form-control" readonly='readonly'>
                <div class="rlf-tip-wrap errorHint color-red"></div>
            </div>
        </div>
        <div class="moco-form-group">
            <label for="" class="moco-control-label">Rating：</label>
            <div class="moco-control-input">
<!--                  <input type="text" name="rating" id="rating" autocomplete="off" placeholder='number only' data-validate="require-nick" class="moco-form-control" > -->
                <select class="moco-form-control rlf-select" name="rating" hidefocus="true" id="rating" data-validate="require-select">
                    <option value="">Select a Score</option>
                    <option value="5" selected="selected">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select>
                <div class="rlf-tip-wrap errorHint color-red"></div>
            </div>
        </div>
        <div class="moco-form-group wlfg-wrap">
            <label for="" class="moco-control-label">Review：</label>
            <div class="moco-control-input">
                 <div class="pr">
                    <textarea name="review" id="review" rows="10" class="noresize js-sign moco-form-control"></textarea>
                    <p class="numCanInput js-numCanInput " hidden style="color:Tomato;">ERROR</p>
                    <br/>
                </div>
            </div>
        </div>


      <div class="wlfg-wrap clearfix">
          <label class="moco-control-label" for=""></label>
          <div class="moco-control-input">
              <input type="submit" id="profile-submit" class="moco-btn moco-btn-blue marR10" onclick = "closeDialog()">
              <input type="button" id="profile-submit-delete" class="moco-btn moco-btn-blue marR10" onclick = "closeDialogDelete({{user_id}})" value='Delete'>
              <a href="javascript:void(0);" class="moco-btn moco-btn-normal js-modal-close" onclick = "closeDialog()">Cancel</a>
              <p class="js-gerror g_error"></p>
          </div>
      </div>
    </form>
</div>

<div id="fade" class="black_overlay"></div>
</div>

{% endblock %}


